/* Class selector name pattern */
.kebab-case {
  background: red;
}

/* stylelint-disable-next-line selector-class-pattern */
.camelCase {
  background: red;
}

/* stylelint-disable-next-line selector-class-pattern */
.PascalCase {
  background: red;
}

/* Properties order */
.selector-one {
  --var-a: 50px;
  --var-b: 50px;
  --var-1: 50px;
  --var-2: 50px;

  background-color: red;
  block-size: 50px;
  display: grid;
  inline-size: 50px;
  margin: 25px;
  margin-block-end: 50px;
  margin-block-start: 50px;
  margin-inline-end: 50px;
  margin-inline-start: 50px;
  text-align: end;
}

@media (min-width: 50px) {
  .selector {
    background-color: springgreen;
  }
}

.selector[dir='rtl'] {
  background-color: burlywood;
}
